/*google font Orbitron-cool for calculators*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8rem;
    color: #021517;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ff9666;
    flex-direction: column;
}

button {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: #021517;
}

.wrapper {
    max-width: 600px;
    width: 70%;
    min-width: 350px;
    flex-grow: 2;
    border: 1px solid #E80C15;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 60px 60px 60px;
    grid-gap: 30px;
    padding: 30px;
    border-radius: 20px;
    background-color: #FF381A;
    background: linear-gradient(45deg, #FF381A 55%, #FF740D 45%);
}

.screen {
    grid-column: span 4;
    border: 0.2px solid #E80C15;
    border-radius: 20px;
    background-color: #fff;
}

.number,
.operator {
    border: .2px solid #E80C15;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #FF740D;
}

.number:hover,
.number:active,
.number:focus,
.operator:hover,
.operator:active,
.operator:focus {
    background-color: #f56a00;
}

.equal {
    grid-row: span 2;
    width: 100%;
    max-width: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .2px solid #E80C15;
    background-color: #FF0D90;
    border-radius: 50px;
}

.equal:hover,
.equal:active,
.equal:focus {
    background-color: #f50083;
}